{{>header}}
{{>nav}}

<div class="container form-container">

    <form action="/message" method="POST">
        <div class="form-group">
             <label for="yourMessage">Your message</label>
           <input class="form-control" type="text" placeholder="Enter your message" name="messageBody" id="yourMessage">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{{>footer}}