<section id="title">

    <nav class="navbar navbar-expand-md navbar-dark">

        <a class="navbar-brand" href="/">Virtual Dealership</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav ml-auto">

                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/orders">View Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/provider">Login</a>
                </li>
                {{/if}}

            </ul>

        </div>

    </nav>

</section>