body {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: "Montserrat";
  font-weight: 500;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

p {
  color: #8F8F8F;
}

/* Headings */
.big-heading {

  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;

}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 0 0 0 4.5rem;
}

.navbar-brand {
  font-size: 2.3rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

.row {
  margin: 40px 0;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 70%;
  position: absolute;
  right: 20%;
}

/* Features section */
#features {
  padding: 5% 15%;
  background-color: #fff;
  position: relative;
}

.icon {
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #FFF;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 5% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#tryNow {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  .title-image {
    transform: rotate(0);
    position: static;
  }

  #title {
    text-align: center;
  }
}

/* Call To Action */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

.cta-heading {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

#footer {

  text-align: center;
  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
}

.message-form {
  margin-top: 50px;
}

.confirm {

  text-align: center;

}

/* Form */
.form-container {
  padding-top: 20px;
}


/* Orders */
.orders-container {
  padding-top: 20px;
}

.order-status-container {
  padding-top: 20px;
}


.order-list-group {
  padding: 20px 0;
}

.view-container, .fulfillment-form, .order-container {
  padding: 20px 0;
}

.order-now-btn {
  margin: 10px 0;
}
